body {
  background-color: #e5fafd;
  text-align:center;
}


#baseImg {
  display: block;
  left: 0; 
  right: 0; 
  margin: 0 auto;
  position:absolute;
  width: 480px;
  height: 480px;
  z-index: 2;
}

#mainCanvas {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  width: 185px;
  height: 265px;
}

#genButton {  
  position: relative;
  cursor: pointer;
  margin: auto;
  width: fit-content;
  font-family: 'Baloo 2', bold;
  z-index: 3;
  padding: 10px 15px;
  font-size: 24px;
  background-color: #e5fafd;
  border: 7px solid #8be9f6;
  border-radius: 15px;
}

#genButton:hover {
  font-size: 30px;
  transition: all 0.3s ease 0s;
}